<button nz-button (click)="toggleForm()" nzType="primary">
    {{ showForm ? 'Cancelar' : 'Añadir Producto' }}
  </button>
  
  <!-- Mostrar el formulario solo si showForm es true -->
  <div *ngIf="showForm" class="form-container">
    <form [formGroup]="form" (ngSubmit)="addProducto()" class="product-form">
        
        <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nombre" nzRequired>Nombre:</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="nombre" id="nombre" placeholder="Ingrese el nombre del producto" />
          <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched" class="form-error">
            Nombre es requerido.
          </div>
        </nz-form-control>
        </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="descripcion" nzRequired>Descripción:</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea nz-input formControlName="descripcion" id="descripcion" placeholder="Ingrese la descripción del producto" rows="2"></textarea>
          <div *ngIf="form.get('descripcion')?.invalid && form.get('descripcion')?.touched" class="form-error">
            Descripción es requerida y debe tener al menos 20 caracteres.
          </div>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="precio" nzRequired>Precio:</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="number" formControlName="precio" id="precio" placeholder="Ingrese el precio del producto" />
          <div *ngIf="form.get('precio')?.invalid && form.get('precio')?.touched" class="form-error">
            Precio es requerido.
          </div>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imagen" nzRequired>Imagen:</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="imagen" id="imagen" placeholder="Ingrese la URL de la imagen" />
          <div *ngIf="form.get('imagen')?.invalid && form.get('imagen')?.touched" class="form-error">
            Imagen es requerida.
          </div>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="stock" nzRequired>Stock:</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="number" formControlName="stock" id="stock" placeholder="Ingrese la cantidad en stock" />
          <div *ngIf="form.get('stock')?.invalid && form.get('stock')?.touched" class="form-error">
            Stock es requerido.
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="submit-button-container">
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzOffset]="6">
          <button nz-button nzType="primary" [disabled]="form.invalid" type="submit">Añadir Producto</button>
        </nz-form-control>
      </nz-form-item>

    </form>
  </div>
  
  <br />
  <br />

  <div *ngIf="!showForm">
<nz-table [nzData]="paginatedData" 
nzBordered 
nzTableLayout="fixed">
    <thead>
      <tr>
        <th >Producto</th>
        <th nzWidth="10%">Precio</th>
        <th nzWidth="10%">Stock</th>
        <th >Descripción</th>
        <th >Imagen</th>
        <th nzWidth="10%">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of paginatedData">
          <ng-container *ngIf="!editCache[data.id].edit; else editMode">
            <td>{{ data.nombre }}</td>
            <td>{{ data.precio }}</td>
            <td>{{ data.stock }}</td>
            <td>{{ data.descripcion }}</td>
            <td><img [src]="data.imagen" alt="Sin imagen" style="width: 50px; height: 50px;" /></td>

            <td>
              <a (click)="startEdit(data.id)">Edit</a> |
              <a nz-popconfirm nzPopconfirmTitle="¿Seguro que deseas eliminar?" (nzOnConfirm)="deleteRow(data.id)">Eliminar</a>
            </td>
          </ng-container>
    
          <!-- Modo de edición -->
          <ng-template #editMode>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.nombre" /></td>
            <td><input type="number" nz-input [(ngModel)]="editCache[data.id].data.precio" /></td>
            <td><input type="number" nz-input [(ngModel)]="editCache[data.id].data.stock" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.descripcion" /></td>
            <td>
              <a (click)="saveEdit(data.id)" class="save">Guardar</a> |
              <a nz-popconfirm nzPopconfirmTitle="¿Seguro que deseas cancelar?" (nzOnConfirm)="cancelEdit(data.id)">Cancelar</a>
            </td>
          </ng-template>
        </tr>
      </tbody>
  </nz-table>
 
  <nz-pagination 
  [nzPageIndex]="currentPage" 
  [nzPageSize]="pageSize" 
  [nzTotal]="producto.length" 
  (nzPageIndexChange)="onPageChange($event)">
</nz-pagination>

  </div>