
<nz-table #editRowTable nzBordered [nzData]="paginatedData" [nzShowPagination]="false" >
    <thead>
        <tr>
            <th nzWidth="25%">Nombre</th>
            <th nzWidth="15%">Descripcion</th>
            <th nzWidth="40%">Precio</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of paginatedData;">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
        </tr>
    </tbody>
</nz-table>

<nz-pagination 
  [nzPageIndex]="currentPage" 
  [nzPageSize]="pageSize" 
  [nzTotal]="productos.length" 
  (nzPageIndexChange)="onPageChange($event)">
</nz-pagination>

 